# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/

dist/
build/
.eggs/

# Virtual environments
venv/
ENV/

# PyCharm
.idea/
*.iml

# Logs and databases
*.log
*.db

# Local environment variables
.env
.env.*
